[data-theme="dark"] {

  /* website title colors */
  --color-main-title: var(--color-rosybrown2);
  --color-main-title--shadow: var(--color-rosybrown3);

  /* text colors */
  --color-text-primary: var(--color-gray2);
  --color-text-discreet: var(--color-gray5);

  --color-text--hover-primary: var(--color-rosybrown2);
  --color-text--hover-strong: var(--color-rosybrown3);

  /* background colors */
  --color-bg-primary: var(--color-gray7);
  --color-bg-strong: var(--color-gray3); 
  --color-bg--hover: var(--color-gray6);

  /*box shadow */
  --color-shadow-light: var(--color-gray5);
  --color-shadow-strong: var(--color-gray4);

  /* button colors and sort-of-buttons */
  --color-btn-discreet: var(--color-gray2);
  --color-btn-discreet--hover: var(--color-rosybrown2);

  --color-btn-primary: var(--color-gray4);
  --color-btn-primary--hover: var(--color-rosybrown2);  

  --color-togle-primary: var(--color-white);
  --color-togle-secondary: var(--color-rosybrown3);
  --color-togle-border: var(--color-gray2);

  --color-checkbox: var(--color-gray1);

  /*border colors */
  --color-border-primary: var(--color-gray2);
}
