[data-theme="dark-pastel"] {
  /* a scale of pastel */
  --color-pastel1: hsl(261, 35%, 95%);
  --color-pastel2: hsl(261, 20%, 50%);
  --color-pastel3: hsl(261, 45%, 30%);
  --color-pastel4: hsl(261, 15%, 15%);
  --color-pastel5: hsl(261, 15%, 10%);

  /* website title colors */
  --color-main-title: var(--color-pastel2);
  --color-main-title--shadow: var(--color-pastel3);

  /* text colors */
  --color-text-primary: var(--color-pastel1);
  --color-text-discreet: var(--color-pastel2);

  --color-text--hover-primary: var(--color-pastel3);
  --color-text--hover-strong: var(--color-pastel2);

  /* background colors */
  --color-bg-primary: var(--color-pastel4);
  --color-bg-secondary: var(--color-pastel5);
  --color-bg-strong: var(--color-gray1);
  --color-bg--hover: var(--color-pastel3);

  /*box shadow */
  --color-shadow-light: var(--color-pastel1);
  --color-shadow-strong: var(--color-pastel3);

  /* button colors and sort-of-buttons */
  --color-btn-discreet: var(--color-pastel3);
  --color-btn-discreet--hover: var(--color-pastel2);

  --color-btn-primary: var(--color-pastel4);
  --color-btn-primary--hover: var(--color-pastel3);

  --color-togle-primary: var(--color-white);
  --color-togle-secondary: var(--color-pastel3);
  --color-togle-border: var(--color-gray2);

  --color-checkbox: var(--color-gray1);

  /*border colors */
  --color-border-primary: var(--color-gray2);
}
