[data-theme="oriane"] {
    /* text colors */
    --color-text1 : red;
    --color-text2 : var(--color-gray3);
    --color-text3 : var(--color-gray5); 
    --color-text4 : var(--color-gray8); 
    
    --color-text--hover1: var(--color-rosybrown2); 
    --color-text--hover2: var(--color-rosybrown3); 
    
    
    --color-title1 : var(--color-rosybrown2 ) ; 
    --color-title1--shadow : var(--color-rosybrown3 ) ; 
    
    --color-title2: ; 
    --color-title3 : ; 
    
    /* background colors */ 
    --color-bg1 : var(--color-gray7) ; 
    --color-bg2 : var(--color-gray6); 
    --color-bg3 : var(--color-gray8); 
    --color-bg4 : ; 
    
    /*box shadow */
    --color-shadow-light : var(--color-gray5); 
    --color-shadow-strong : var(--color-gray4); 
    
    /* button colors and sort-of-buttons */ 
    --color-btn1 : var(--color-gray2);
    --color-btn1--hover : var(--color-rosybrown2) ;  
    --color-btn2 : var(--color-gray3);
    --color-btn2--hover : var(--color-rosybrown2) ;
    
    --color-togle1 : var(--color-rosybrown3) ; 
    --color-togle2 : var(--color-white);
    --color-togle-border : var(--color-gray2); 
    
    --color-checkbox : var(--color-gray1); 
    
    /*border colors */ 
    --color-border1 : var(--color-gray2) ; 
    --color-border2 : var(--color-gray4) ; 
    --color-border3 : var(--color-gray7) ; 
}
