
/* === MODE COLORS  === */ 

/* Creating and naming new functional colors => 
      base name on the color's purpose :  example : color-card-border
      the new color-card-border has to be set in all customed theme.css files
      and in the component.css : element { border : 1px solid var(--color-card-border) } 

    Other option to add personalised styles (that do not exist in default mode ) :
      [data-theme="personalised"] .personalised-card {
      background: repeating-linear-gradient(45deg, #ff00ff, #00ffff 10px, #ffcc00 20px); } 
*/


/* === DEFAUT THEME = LIGHT  === */ 

:root {
/* text colors */
--color-text1 : var(--color-gray8);
--color-text2 : var(--color-gray5);
--color-text3 : var(--color-gray3); 
--color-text4 : var(--color-gray1); 

--color-text--hover1: var(--color-rosybrown2); 
--color-text--hover2: var(--color-rosybrown3); 


--color-title1 : var(--color-rosybrown2 ) ; 
--color-title1--shadow : var(--color-rosybrown1 ) ; 

--color-title2: ; 
--color-title3 : ; 

/* background colors */ 
--color-bg1 : var(--color-white) ; 
--color-bg2 : var(--color-gray1); 
--color-bg3 : var(--color-gray2); 
--color-bg4 : ; 

/*box shadow */
--color-shadow-light : var(--color-gray1); 
--color-shadow-strong : var(--color-gray3); 

/* button colors and sort-of-buttons */ 
--color-btn1 : var(--color-gray7);
--color-btn1--hover : var(--color-rosybrown2) ;  
--color-btn2 : var(--color-gray3);
--color-btn2--hover : var(--color-rosybrown2) ;

--color-togle1 : var(--color-rosybrown3) ; 
--color-togle2 : var(--color-white);
--color-togle-border : var(--color-gray2); 

--color-checkbox : var(--color-gray4); 

/*border colors */ 
--color-border1 : var(--color-gray7) ; 
--color-border2 : var(--color-gray5) ; 
--color-border3 : var(--color-gray2) ; 
}