[data-theme="psychedelic"] {
  /* a scale of pastel */
  --color-psy1: hsl(70, 74%, 12%);
  --color-psy2: hsl(9, 44%, 43%);
  --color-psy3: hsl(293, 70%, 74%);
  --color-psy4: hsl(187, 71%, 86%);
  --color-psy5: hsl(54, 82%, 73%);

  /* website title colors */
  --color-main-title: var(--color-psy2);
  --color-main-title--shadow: var(--color-psy3);

  /* text colors */
  --color-text-primary: var(--color-psy1);
  --color-text-discreet: var(--color-psy2);

  --color-text--hover-primary: var(--color-psy3);
  --color-text--hover-strong: var(--color-psy2);

  /* background colors */
  --color-bg-primary: var(--color-psy4);
  --color-bg-secondary: var(--color-psy5);
  --color-bg-strong: var(--color-gray1);
  --color-bg--hover: var(--color-psy3);

  /*box shadow */
  --color-shadow-light: var(--color-psy1);
  --color-shadow-strong: var(--color-psy3);

  /* button colors and sort-of-buttons */
  --color-btn-discreet: var(--color-psy3);
  --color-btn-discreet--hover: var(--color-psy2);

  --color-btn-primary: var(--color-psy4);
  --color-btn-primary--hover: var(--color-psy3);

  --color-togle-primary: var(--color-white);
  --color-togle-secondary: var(--color-psy3);
  --color-togle-border: var(--color-gray2);

  --color-checkbox: var(--color-gray1);

  /*border colors */
  --color-border-primary: var(--color-gray2);
}
