/* === card ======================================== */
.card {
  height: 25rem;
  display: flex;
  background-color: var(--color-bg-primary);
  gap: 2rem;
  justify-content: start;
  align-items: center;
  text-wrap: nowrap;
  padding: 3rem;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 0px 10px 0px var(--color-shadow-light);
  &:hover {
    box-shadow: 0px 0px 25px 0px var(--color-shadow-strong);
    scale: 1.02;
  }
  &:hover .card-info {
    color: var(--color-text--hover-primary);
  }
  &:hover .card-info__title {
    color: var(--color-text--hover-strong);
  }
}
/* === card-info =================================== */
.card-info {
  * {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  width: 25rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-wrap: nowrap;
  text-align: left;
  .card-info__title {
    font-size: larger;
    font-weight: 600;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.5rem 0;
  }
  .card-info__artist {
    margin: 0.5rem 0 1rem;
  }
  .card-info__object-name,
  .card-info__department {
    font-style: italic;
  }
}

/* === card-image ================================== */
.card-image {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100%;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 0.5rem;
  }
}

/* === PORTRAIT ================================== */
.card.portrait {
  grid-row-start: span 4;
  grid-column-start: span 1;
  height: 53rem;
  flex-direction: column;
}

/* === SQUARE ================================== */
.card.square {
  grid-row-start: span 2;
  grid-column-start: span 1;
  height: 25rem;
  flex-direction: column;
}

/* === LANDSCAPE ================================== */
.card.landscape {
  grid-row-start: span 2;
  grid-column-start: span 2;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  height: 25rem;
}


/* ============= ZOOM TARGET CARD =============*/

@keyframes zoom-in {
  from { transform: translate(-50%, -50%) scale(.4); }
  to { transform: translate(-50%, -50%) scale(1); }
}
.card.zoomTarget { 
  position: fixed;
  top: 50%;
  left: 50%;
  width: 75vw;
  height: 75vh;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 25px 0px var(--color-shadow-strong);
  animation: zoom-in .6s ease;
  z-index: 10;
  &:hover {
    scale: none;
  }
}