.footer {
  margin: 6rem 0 0;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  background-color: var(--color-bg--hover);
  box-shadow: 0 -2px 8px 0 var(--color-shadow-light);
  button {
    border: none;
    padding : 0 0.8rem; 
    border-radius: 0.5rem; 
    color: var(--color-primary);
    background-color: transparent;
    cursor: pointer;
  }
  button:hover{ 
    background-color: var(--color-bg-primary);
  }
}
