/* light template (default) */
:root,
[data-theme="light"] {
  color-scheme: light;
  --font-serif-roboto: "Roboto Mono", monospace;
  --font-sans-serif-montserrat: "Montserrat Alternates", sans-serif;

  --primary-text-color: hsl(0, 0%, 10%);
  --secondary-text-color: hsl(0, 0%, 90%);
  --background-color: hsl(60, 5%, 90%);
  --color-grayscale1: hsl(60, 5%, 75%);
  --color-grayscale2: hsl(60, 5%, 60%);
  --color-grayscale3: hsl(60, 5%, 45%);
  --color-grayscale4: hsl(60, 5%, 30%);
  --color-grayscale5: hsl(60, 5%, 15%);
  --color-hover: hsl(360, 40%, 50%);
  --toggler-focus: hsl(240, 75%, 50%);
  --toggler-foreground: hsl(60, 75%, 75%);
  --toggler-background: hsl(60, 75%, 45%);
}

/* dark template */
[data-theme="dark"] {
  color-scheme: dark;
  --primary-text-color: hsl(0, 0%, 90%);
  --secondary-text-color: hsl(0, 0%, 10%);
  --background-color: hsl(60, 10%, 10%);
  --color-grayscale1: hsl(60, 5%, 15%);
  --color-grayscale2: hsl(60, 5%, 30%);
  --color-grayscale3: hsl(60, 5%, 45%);
  --color-grayscale4: hsl(60, 5%, 60%);
  --color-grayscale5: hsl(60, 5%, 75%);
  --color-hover: hsl(360, 40%, 67%);
  --toggler-focus: hsl(60, 75%, 50%);
  --toggler-foreground: hsl(240, 75%, 75%);
  --toggler-background: hsl(240, 75%, 45%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  -webkit-box-sizing: inherit;
}

html {
  font-size: 62.5%; /* So 1 rem = 10px */
}

body {
  box-sizing: border-box;
  font-weight: 400;
  font-family: var(--font-sans-serif-montserrat);
  font-size: 1.6rem;
}

html,
body,
#root {
  /* Making sure main container takes full screen height */
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
}
#app {
  flex: 1;
  color: var(--primary-text-color);
  background-color: var(--background-color);
  font-family: var(--font-sans-serif-montserrat);
}
