/* ========== DEFINE GLOBAL VARIABLES ============== */
:root {
  /* FONTS*/
  --font-serif-roboto: "Roboto Mono", monospace;
  --font-sans-serif-montserrat: "Montserrat Alternates", sans-serif;

  /* FIXED COLORS */
  --color-gray1: hsl(0, 0%, 90%);
  --color-gray2: hsl(0, 0%, 75%);
  --color-gray3: hsl(0, 0%, 60%);
  --color-gray4: hsl(0, 0%, 45%);
  --color-gray5: hsl(0, 0%, 30%);
  --color-gray6: hsl(0, 0%, 15%);

  /* THEME COLORS - DEFAULT: [data-theme="light"] */
  /* Naming new colors => base name on a color-scale or on the color's purpose : 
    example : 
      color-greenscale1 to 5
      color-url 
  */
  /* color-scheme: light; */
  --color-grayscale1: hsl(0, 0%, 100%);
  --color-grayscale2: hsl(60, 15%, 90%);
  --color-grayscale3: hsl(198, 10%, 45%);
  --color-grayscale4: hsl(0, 0%, 15%);
  --color-grayscale5: hsl(0, 0%, 0%);
  --color-grayscale6: hsl(0, 0%, 0%);

  --color-rosybrown1: hsl(17, 38%, 70%);
  --color-rosybrown2: hsl(359, 38%, 67%);
  --color-rosybrown3: hsl(360, 38%, 50%);
}

/* ========= DEFINE GLOBAL STYLING ========= */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  -webkit-box-sizing: inherit;
}

html {
  font-size: 62.5%; /* So 1 rem = 10px */
}

html,
body,
#root {
  height: 100%;
}

html,
body,
#root,
#app {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  box-sizing: border-box;
}

#app {
  display: flex;
  flex: 1;
  flex-direction: column;
  position: relative;
  font-weight: 400;
  font-family: var(--font-sans-serif-montserrat);
  font-size: 1.6rem;
  color: var(--color-grayscale5);
  background-color: var(--color-grayscale1);
}
