/* ========== DEFINE GLOBAL VARIABLES ============== */
:root {
  /* === FONTS ===*/
  --font-serif-roboto: "Roboto Mono", monospace;
  --font-sans-serif-montserrat: "Montserrat Alternates", sans-serif;

  /*  backdrop-filter: blur(10px); Applique un flou derrière */
  /*mix-blend-mode: overlay; accentuer le contraste entre arriere plan et le devant */

  /* === FIXED COLORS === */
  /* Naming new colors => base name on a color-scale : 
    example :   color-greenscale1 (the lighter) to 5 (the darker)*/

  --color-gray1: hsl(0, 0%, 90%);
  --color-gray2: hsl(0, 0%, 75%);
  --color-gray3: hsl(0, 0%, 60%);
  --color-gray4: hsl(0, 0%, 45%);
  --color-gray5: hsl(0, 0%, 30%);
  --color-gray6: hsl(0, 0%, 23%);
  --color-gray7: hsl(0, 0%, 15%);
  --color-gray8: hsl(0, 0%, 5%);

  /* dark and white */
  --color-dark: #000000;
  --color-white: #ffffff;

  /* rosybrown */
  --color-rosybrown1: #e1b0ac;
  --color-rosybrown2: #cf8985;
  --color-rosybrown3: #b04f4f;
  --color-rosybrown4: #76373d;
}

/* ========= DEFINE GLOBAL STYLING ========= */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  -webkit-box-sizing: inherit;
}

html {
  font-size: 62.5%; /* So 1 rem = 10px */
}

html,
body,
#root {
  height: 100%;
}

html,
body,
#root,
#app {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  box-sizing: border-box;
}

#app {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 2rem;
  position: relative;
  padding: 2rem 0 0;
  font-weight: 400;
  font-family: var(--font-sans-serif-montserrat);
  font-size: 1.6rem;
  color: var(--color-text-primary);
  background-color: var(--color-bg-primary);
  align-items: center;
}

@media (max-width: 900px) {
  #app {
    font-size: 1.4rem;
  }
}
