.search-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 50%;
}

.btn__add-more-objects {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.30rem;
  color: var(--primary-text-color);
  font-size: 1.6rem;
  cursor: pointer;
  margin: 0 auto;
  width: 80%;
  &:hover {
    background-color: var(--color-hover);
    color: var(--secondary-text-color);
  }
}
