.search-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 80%;
  margin-bottom: 10rem;
}

@media (max-width: 900px) {
  .search-container {
    width: 90%;
    padding: 0 2rem;
  }
}
