.search-bar__container {
  z-index: 9;
  position: relative;
  background-color: var(--color-bg-primary);
  min-width: 60rem;
  min-height: 20rem;
  padding: 1rem 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

.search-bar__input-box {
  display: flex;
  align-items: center;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  padding: 0;
  border-bottom: 3px solid var(--color-border-primary);
  
  &:hover .search-bar__input-text {
    background-color: var(--color-bg--hover);
  }
}

.search-bar__input-text {
  flex: 1;
  border: none;
  border-radius: 1rem;
  outline: none;
  font-size: 18px;
  padding: 2rem;
  color: var(--color-text-primary);
  background-color: var(--color-bg-primary);
}

.search-bar__input::placeholder {
  color: var(--color-text-discreet);
  font-family: var(--font-serif-roboto);
}

.search-bar__input-button {
  background-color: var(--color-btn-discreet);
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.search-bar__input-button:hover {
  background-color: var(--color-btn-discreet--hover);
}

.search-bar__filters-box {
  display: flex;
  align-items: center;
  padding: 2rem;
}

.search-bar-svg__filters {
  background-color: var(--color-btn-primary);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.search-bar__filters-text {
  font-size: 16px;
  color: var(--color-text-primary);
  padding: 1rem;
  font-size: 1.5rem;
  font-family: var(--font-serif-roboto);
}

.search-bar__filters-box:hover {
  .search-bar-svg__filters {
    background-color: var(--color-btn-primary--hover);
  }
  .search-bar__filters-text {
    color: var(--color-text--hover-primary);
  }
  .search-bar-svg__arrow {
    fill: var(--color-text--hover-primary);
  }
}

.search-bar-svg__arrow {
  fill: var(--color-text-primary);
}

/* addition for the dropdown menu that is togle inside the SearchBar */

.dropdown-menu__container {
  position: absolute;
  top: 15rem;
  left: 20rem;
  max-height: 20rem;
  background-color: var(--color-bg--hover);
  border-radius: 1rem;
  padding: 2rem;
  gap: 2rem;
  box-shadow: 0 0 1px var(--color-border-primary);
  z-index: 10;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.dropdown-menu__item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.4rem;
  font-family: var(--font-serif-roboto);
  cursor: pointer;
}

.dropdown-menu__checkbox {
  width: 1.5rem;
  height: 1.5rem;
  accent-color: var(--color-checkbox);
  cursor: pointer;
}

.dropdown-menu__item:hover {
  color: var(--color-text--hover-primary);
  font-weight: bold;
}
