.search-bar-svg__magnifying-glass {
    fill: var(--color-text4); }

.search-bar-svg__filters {
    cursor: pointer;
    fill : var(--color-text1) ; 
  }

.search-bar-svg__arrow {
    fill : var(--color-text1) 
  }
/* for arrow:hover see dynamically in the searchBarSVG.jsx */ 

