.theme-toggler {
  position: fixed;
  top: 1rem;
  right: 3rem;
  z-index: 1;
  * {
    cursor: pointer;
  }
  label {
    display: flex;
    font-weight: bold;
    font-size: small;
    justify-content: left;
    input[type="checkbox"] {
      appearance: none;
      & + span {
        position: relative;
        display: flex;
        align-items: center;
        margin: 0 .8rem;
        width: 3.2rem;
        background-image: linear-gradient(to right,var(--color-togle-secondary ), var(--color-togle-primary ) );
        border-radius: 0.8rem;
        &::before {
          display: inline;
          content: "";
          height: 100%;
          width: 100%;
          border-radius: inherit;
          transition: background-color 200ms ease-in-out;
        }
        &::after {
          display: inline;
          content: "";
          height: 1.3rem;
          width: 1.3rem;
          border-radius: 50%;
          background-color: var(--color-togle-primary);
          border : 0.1px solid var(--color-togle-border) ;
          position: absolute;
          left: 0.3rem;
          transform: translateX(1.3rem);
          transition: background-color 200ms ease-in-out,
            transform 200ms ease-in-out;
        }
      }
      &:checked + span::after {
        transform: translateX(0);
      }

      &:focus ~ span,
      &:active ~ span {
        border-radius: 0.8rem;
        box-shadow: 0 0 6px 2px var(--color-togle-secondary);
      }
      &:checked:focus ~ span,
      &:checked:active ~ span {
        border-radius: 0.8rem;
        box-shadow: 0 0 8px 4px var(--color-togl1);
      }
    }
  }
  select {
    overflow: hidden;
    color: var(--color-text-primary);
    background: var(--color-bg-primary);
    border-radius: 4px;
    optgroup {
      text-align: left;
      option {
        font-size: 1.3rem;
      }
    }
  }
}
